html {
  font-size: 100%;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(2);
  line-height: $heading-line-height;
  //margin: 0 0 $small-spacing;
  font-weight: 400;
}


p {
  margin: 0 0 $small-spacing;
  font-weight: 300;
}
b, strong {
  font-weight: 700;
}
a {
  color: $primary-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($primary-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
