#site-content{
  section {
    padding-top: $base-spacing*4;
    padding-bottom: $base-spacing*4;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    //margin-bottom: $small-spacing*2;
    span {
      color: $secondary-color;
    }
    @include media($desktop-width) {
      font-size: modular-scale(4);
    }
  }

  #jumbotron {
    padding-top: $base-spacing*8;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    margin-bottom: $base-spacing*5;


    h3 {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 400;
    }

    .button {
      background-color: $primary-color;
      color: $light-gray;
    }
    .video-wrap {
      position: absolute;
      top: auto;
      right: 0;
      bottom: -$base-spacing*7;
      left: 0;
      text-align: center;
    }
    @include media($desktop-width) {
      padding-bottom: $base-spacing*14;
        margin-bottom: $base-spacing*10;
      .container {
        display: flex;
        align-items: center;
        .col {
          flex-basis: 58%;
        }
      }
      p {
        max-width: 70%;
      }
      .video-wrap {
        bottom: -$base-spacing*12;
      }
    }
  }//jumbotron

  #request {
    .row {
      @include media($desktop-width) {
        flex-direction: row-reverse;
      }
    }
  }//request

  #see-and-control {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    h3, p, li {
      color: $light-gray;
    }
    .fa-li {
      color: $secondary-color;
    }
  }//see-and-control

  #anticipate-faster {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    h3, p, li, span {
      text-align: center;
    }
    .col {
      max-width: 800px;
      margin: 0 auto;
    }
  } //anticipate-faster

  #timeline{
    //background-size: cover;
    background-position: center 62%;
    background-repeat: no-repeat;
    .entry {
      padding-top: $base-spacing*2;
      padding-bottom: $base-spacing*2;
      align-items: center;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }
    p {
      font-size: modular-scale(2);
    }
  }//timeline

  #request-your-demo{
    h3, p {
      text-align: center;
      color: $light-gray;
    }
  }//request-your-demo

  #see-everything{
    .row {
      @include media($desktop-width) {
        flex-direction: row-reverse;
      }
    }
  }//see-everything

  #why-you-need{
    h3, p {
      color: $light-gray;
    }
  }//why-you-need

  #problems {
    h3, p {
      text-align: center;
      color: $primary-color;
    }
  } //problems
}
