#site-footer {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  //background-color: $light-gray;
  .colophon {
    text-align: center;
    text-transform: uppercase;
    a, p, span, li {
      color: shade($light-gray, 30);
      letter-spacing: 1px;
    }
  }
}
